
__pycache__/*
rsa_archer/__pycache__/*
.idea/*
.env
planilhas/*
documento2/*
documento/*
wqwqwq.py
documento_old/*
.env

*.pyc
*lixo/
*.docx
*.xlsx
*.rpt
rsa_archer/__pycache__/archer_instance.cpython-310.pyc
rsa_archer/__pycache__/record.cpython-310.pyc
rsa_archer/__pycache__/archer_instance.cpython-310.pyc
rsa_archer/__pycache__/__init__.cpython-310.pyc
*.bat
*.pickle